/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.form-check-input[type=checkbox]:checked {
    background-color: transparent !important;
    border-color: #0d6efd !important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 8px 10px !important;
}
.table{
    padding-top: 2rem !important;
}